<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/blog-card.css">

</head>
<body>
<header class="container-fluid" id="navbar-main-container">
    <nav class="navbar navbar-expand-sm bg-body-secondary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><i class="bi bi-book" id="blogger-icon"></i> Blogger</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="home" class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a id="new" class="nav-link" href="/new">New</a>
                </li>
                <li class="nav-item">
                    <a id="about" class="nav-link disabled" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a id="contact" class="nav-link disabled" href="#">Contact</a>
                </li>
            </ul>
        </div> 
        
        </div>
    </nav>
</header>

