<%- include("partials/header.ejs") %> 



<% if (locals.posts.length > 0) { %>
    <% console.log(posts) %>
<% posts.forEach((post, index) => { %>
    <% if(index % 2 == 0) { %>
<%- include("partials/even-card.ejs", {post: post, id:index}) %>
<% } else { %>
    <%- include("partials/odd-card.ejs", {post: post, id:index}) %>
    <% } %>
  <% })} else { %>
    <div id="emptyContainer">
        <div id="hero" class="p-5 mb-4 rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Get Blogging!</h1>
              <p class="col-md-8 fs-4">An easy to use and aesthetically pleasing website to share your thoughts.</p>
              <a href="/new"><button style="background-color:#5ad67d;" class="btn btn-primary btn-lg" type="button">Start here</button></a>
            </div>
          </div>
    </div>
    <% } %>
  


<%- include("partials/footer.ejs") %>
